* {
    box-sizing: border-box;
}

.container {
    width: 1066px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-image: url("../images/Who.png");
    /* border: dotted blue 1px; */
  }
  
.container img {
    max-height: 300px;
    max-width: 100%;
    position: absolute;
    top: 23%;
    left: 18%;
}

body {
    background-image: url("../images/pokeballbground.png");
    height: 100%;
}

#interactive-box  {
    text-align: center;
    margin: 0 auto;
    background: white;
    width: 1066px;
    height: 300px;
}

button {
    background: grey;
    font-size: 36px;
    margin: 20px;
    margin-bottom: 0;
}

.input {
    padding: 10px;
    font-size: 24px;
}