* {
    box-sizing: border-box;
}

.container {
    width: 1066px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    background-image: url("../images/Who.png");
    margin-bottom: 10px;
    /* border: dotted blue 1px; */
  }
  
.container img {
    max-height: 300px;
    max-width: 100%;
    position: absolute;
    top: 23%;
    left: 18%;
}

body {
    background-image: url("../images/pokeballbground.png");
    height: 100%;
}

#interactive-box  {
    text-align: center;
    margin: 0 auto;
    background: papayawhip;
    width: 1066px;
    height: 300px;
}

#scoreBoard {
    background: silver;
    border-radius: 8px;
    height: 50px;
    width: 130px;
    position: relative;
    float: right;
    top: 0;
    right: 5px;
    z-index: 5;
}

button {
    z-index: 200;
    background: grey;
    font-size: 36px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 8px;
    
}

.input {
    padding: 10px;
    font-size: 24px;
}

#lostExecute {
    z-index: 100;
    background: red;
    position: absolute;
    top: 0;
    padding-top: 20%;
    height: 100%;
    width: 100%;
    max-width:2000px;
    max-height: 1000px;
    text-align: center;
    font-size: 48px;
    margin: 0 auto;

}

#button {
    font-size: 64px;
}